.ade-custom-shipping-select-container {
  margin: 16px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;

  #ade_custom_shipping_selections {
    width: 100%;
  }

  .ade-custom-shipping-action-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.ade-custom-shipping-woocommerce-selections-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ade-custom-shipping-woocommerce-selections-wrapper .select2-container {
  width: 100% !important;
  max-width: 600px !important;
}
